/*fade-in*/
.fade-in
{
    -webkit-animation: fade-in 1.2s;
            animation: fade-in 1.2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@-webkit-keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes fade-in
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
/*fade-out*/
.fade-out
{
    -webkit-animation: fade-out 1s;
            animation: fade-out 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@-webkit-keyframes fade-out
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
@keyframes fade-out
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
/*fade-in right*/
.fade-in-right
{
    -webkit-animation: fade-in-right 1s;
            animation: fade-in-right 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@-webkit-keyframes fade-in-right
{
    0%
    {
        -webkit-transform: translateX(-100%);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0%);

        opacity: 1;
    }
}
@keyframes fade-in-right
{
    0%
    {
        transform: translateX(-100%);

        opacity: 0;
    }
    100%
    {
        transform: translateX(0%);

        opacity: 1;
    }
}
/*fade-in left*/
.fade-in-left
{
    -webkit-animation: fade-in-left 1s;
            animation: fade-in-left 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@-webkit-keyframes fade-in-left
{
    0%
    {
        -webkit-transform: translateX(100%);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateX(0%);

        opacity: 1;
    }
}
@keyframes fade-in-left
{
    0%
    {
        transform: translateX(100%);

        opacity: 0;
    }
    100%
    {
        transform: translateX(0%);

        opacity: 1;
    }
}
/*fade-in up*/
.fade-in-up
{
    -webkit-animation: fade-in-up 1s;
            animation: fade-in-up 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@-webkit-keyframes fade-in-up
{
    0%
    {
        -webkit-transform: translateY(100%);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0%);

        opacity: 1;
    }
}
@keyframes fade-in-up
{
    0%
    {
        transform: translateY(100%);

        opacity: 0;
    }
    100%
    {
        transform: translateY(0%);

        opacity: 1;
    }
}
/*fade-in down*/
.fade-in-down
{
    -webkit-animation: fade-in-down 1s;
            animation: fade-in-down 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@-webkit-keyframes fade-in-down
{
    0%
    {
        -webkit-transform: translateY(-100%);

        opacity: 0;
    }
    100%
    {
        -webkit-transform: translateY(0%);

        opacity: 1;
    }
}
@keyframes fade-in-down
{
    0%
    {
        transform: translateY(-100%);

        opacity: 0;
    }
    100%
    {
        transform: translateY(0%);

        opacity: 1;
    }
}

/*fade-out right*/
.fade-out-right
{
    -webkit-animation: fade-out-right 1s;
            animation: fade-out-right 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@-webkit-keyframes fade-out-right
{
    0%
    {
        -webkit-transform: translateX(0%);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateX(100%);

        opacity: 0;
    }
}
@keyframes fade-out-right
{
    0%
    {
        transform: translateX(0%);

        opacity: 1;
    }
    100%
    {
        transform: translateX(100%);

        opacity: 0;
    }
}
/*fade-out left*/
.fade-out-left
{
    -webkit-animation: fade-out-left 1s;
            animation: fade-out-left 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@-webkit-keyframes fade-out-left
{
    0%
    {
        -webkit-transform: translateX(0%);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateX(-100%);

        opacity: 0;
    }
}
@keyframes fade-out-left
{
    0%
    {
        transform: translateX(0%);

        opacity: 1;
    }
    100%
    {
        transform: translateX(-100%);

        opacity: 0;
    }
}
/*fade-out up*/
.fade-out-up
{
    -webkit-animation: fade-out-up 1s;
            animation: fade-out-up 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@-webkit-keyframes fade-out-up
{
    0%
    {
        -webkit-transform: translateY(0%);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(-100%);

        opacity: 0;
    }
}
@keyframes fade-out-up
{
    0%
    {
        transform: translateY(0%);

        opacity: 1;
    }
    100%
    {
        transform: translateY(-100%);

        opacity: 0;
    }
}
/*fade-out down*/
.fade-out-down
{
    -webkit-animation: fade-out-down 1s;
            animation: fade-out-down 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@-webkit-keyframes fade-out-down
{
    0%
    {
        -webkit-transform: translateY(0%);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translateY(100%);

        opacity: 0;
    }
}
@keyframes fade-out-down
{
    0%
    {
        transform: translateY(0%);

        opacity: 1;
    }
    100%
    {
        transform: translateY(100%);

        opacity: 0;
    }
}