/*fanfare*/
.fanfare
{
    -webkit-animation: fanfare 1.2s;
            animation: fanfare 1.2s;
}
@keyframes fanfare
{
    0%, 100% {
    transform: scale(1);
  }

30% {
    transform: scale(.8) rotateZ(5deg);
  }
  40%, 60%, 80% {
    transform: scale(1.15) rotateZ(-5deg);
  }
50%, 70%, 90% {
    transform: scale(1.15) rotateZ(5deg);
  }
}
@-webkit-keyframes fanfare
{
    0%, 100% {
    -webkit-transform: scale(1);
  }

30% {
    -webkit-transform: scale(.8) rotateZ(5deg);
  }
  40%, 60%, 80% {
    -webkit-transform: scale(1.15) rotateZ(-5deg);
  }
50%, 70%, 90% {
    -webkit-transform: scale(1.15) rotateZ(5deg);
  }
}
/*float*/
.float
{
    -webkit-animation: float 1.6s;
            animation: float 1.6s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@keyframes float
{
    0%, 100%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(-20px);
    }
}
@-webkit-keyframes float
{
    0%, 100%
    {
        -webkit-transform: translateY(0);
    }
    50%
    {
        -webkit-transform: translateY(-20px);
    }
}
/*orbit*/
.orbit
{
    -webkit-animation: orbit 3s;
            animation: orbit 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@keyframes orbit
{
    0% {
    transform: rotate(0deg) translateX(20px) rotate(0deg);
}
100% {
    transform: rotate(360deg) translateX(20px) rotate(-360deg);
}
}
@-webkit-keyframes orbit
{
    0% {
    -webkit-transform: rotate(0deg) translateX(20px) rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg) translateX(20px) rotate(-360deg);
}
}
/*spiral*/
.spiral
{
    -webkit-animation: spiral 1s;
            animation: spiral 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@keyframes spiral
{
    0%
    {
        transform: rotateY(-360deg) translateY(-150%);
    }
    100%
    {
        transform: rotateY(0) translateY(0px);
    }
}
@-webkit-keyframes spiral
{
    0%
    {
        -webkit-transform: rotateY(-360deg) translateY(-150%);
    }
    100%
    {
        -webkit-transform: rotateY(0) translateY(0px);
    }
}
/*bounce*/
.bounce
{
    -webkit-animation: bounce 1s;
            animation: bounce 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@keyframes bounce
{
    0%, 30%, 55%, 70%, 80%, 90%, 100%
    {
        transform: translateY(0px);
    }
    25%
    {
        transform: translateY(-50px);
    }
    45%
    {
        transform: translateY(-25px);
    }
    63%
    {
        transform: translateY(-15px);
    }
    75%
    {
        transform: translateY(-7px);
    }
    85%
    {
        transform: translateY(-4px);
    }
    95%
    {
        transform: translateY(-2px);
    }
}
@-webkit-keyframes bounce
{
    0%, 30%, 55%, 70%, 80%, 90%, 100%
    {
        -webkit-transform: translateY(0px);
    }
    25%
    {
        -webkit-transform: translateY(-50px);
    }
    45%
    {
        -webkit-transform: translateY(-25px);
    }
    63%
    {
        -webkit-transform: translateY(-15px);
    }
    75%
    {
        -webkit-transform: translateY(-7px);
    }
    85%
    {
        -webkit-transform: translateY(-4px);
    }
    95%
    {
        -webkit-transform: translateY(-2px);
    }
}
.vibro
{
    -webkit-animation: vibro .5s;
            animation: vibro .5s;
}
@keyframes vibro
{
    0%, 100%
    {
        transform: translateX(0px);
    }
    10%, 30%, 50%, 70%, 90%
    {
        transform: translateX(5px);
    }
    20%, 40%, 60%, 80%
    {
        transform: translateX(-5px);
    }
}
@-webkit-keyframes vibro
{
    0%, 100%
    {
        -webkit-transform: translateX(0px);
    }
    10%, 30%, 50%, 70%, 90%
    {
        -webkit-transform: translateX(5px);
    }
    20%, 40%, 60%, 80%
    {
        -webkit-transform: translateX(-5px);
    }
}
/*heartbeat*/
.heartbeat
{
    -webkit-animation: heartbeat 8s;
            animation: heartbeat 8s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
@keyframes heartbeat
{
    0%, 20%, 40%, 60%, 80%, 100%
    {
        transform: scale(1);
    }
    10%, 30%, 50%, 70%, 90%
    {
        transform: scale(1.15);
    }
}
@-webkit-keyframes heartbeat
{
    0%, 20%, 40%, 60%, 80%, 100%
    {
        -webkit-transform: scale(1);
    }
    10%, 30%, 50%, 70%, 90%
    {
        -webkit-transform: scale(1.15);
    }
}
.shake
{
    -webkit-animation: shake 1s;
            animation: shake 1s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}
@keyframes shake
{
    0%, 100%
    {
        transform: translateX(0px);
    }
    12.5%, 37.5%, 62.5%, 87.5%
    {
        transform: translateX(20px);
    }
    25%, 50%, 75%
    {
        transform: translateX(-20px);
    }
}
@-webkit-keyframes shake
{
    0%, 100%
    {
        -webkit-transform: translateX(0px);
    }
    12.5%, 37.5%, 62.5%, 87.5%
    {
        -webkit-transform: translateX(20px);
    }
    25%, 50%, 75%
    {
        -webkit-transform: translateX(-20px);
    }
}
/*puff*/
.puff
{
    -webkit-animation: puff 1s;
            animation: puff 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
@keyframes puff
{
    0%
    {
        transform: none;
    }
    100%
    {
        transform: scale(1.2);

        opacity: 0;
    }
}
@-webkit-keyframes puff
{
    0%
    {
        -webkit-transform: none;
    }
    100%
    {
        -webkit-transform: scale(1.2);

        opacity: 0;
    }
}
/*scale-in*/
.scale-in
{
    -webkit-animation: scale-in 1.5s;
            animation: scale-in 1.5s;
}
@keyframes scale-in
{
    0%
    {
        transform: scale(0);
        opacity: 0;
    }
    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}
@-webkit-keyframes scale-in
{
    0%
    {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    100%
    {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}
/*scale-out*/
.scale-out
{
    -webkit-animation: scale-out 1s;
            animation: scale-out 1s;
}
@keyframes scale-out
{
    0%
    {
        transform: none;

        opacity: 1;
    }
    80%
    {
        opacity: 0;
    }
    100%
    {
        transform: scale(0);
        opacity: 0;
    }
}
@-webkit-keyframes scale-out
{
    0%
    {
        -webkit-transform: none;

        opacity: 1;
    }
    50%
    {
        opacity: .7;
    }
    100%
    {
        -webkit-transform: scale(0);

        opacity: 0;
    }
}
/*stretch*/
.stretch
{
    -webkit-animation: stretch 1s;
            animation: stretch 1s;
}
@keyframes stretch
{
    0%, 100%
    {
        transform: scale3d(1, 1, 1);
    }
    30%
    {
        transform: scale3d(1.3, .7, 1);
    }
    40%
    {
        transform: scale3d(.7, 1.3, 1);
    }
    60%
    {
        transform: scale3d(1.2, .8, 1);
    }
    75%
    {
        transform: scale3d(.8, 1.2, 1);
    }
    90%
    {
        transform: scale3d(1.05, .95, 1);
    }
}
@-webkit-keyframes stretch
{
    0%, 100%
    {
        -webkit-transform: scale3d(1, 1, 1);
    }
    30%
    {
        -webkit-transform: scale3d(1.3, .7, 1);
    }
    40%
    {
        -webkit-transform: scale3d(.7, 1.3, 1);
    }
    60%
    {
        -webkit-transform: scale3d(1.2, .8, 1);
    }
    75%
    {
        -webkit-transform: scale3d(.8, 1.2, 1);
    }
    90%
    {
        -webkit-transform: scale3d(1.05, .95, 1);
    }
}
/*pulse*/
.pulse
{
    -webkit-animation: pulse 1s;
            animation: pulse 1s;
}
@keyframes pulse
{
    0%
    {
        transform: none;
    }
    50%
    {
        transform: scale(1.15);
    }
    100%
    {
        transform: scale(1);
    }
}
@-webkit-keyframes pulse
{
    0%
    {
        -webkit-transform: none;
    }
    50%
    {
        -webkit-transform: scale(1.15);
    }
    100%
    {
        -webkit-transform: scale(1);
    }
}
/*spin*/
.spin
{
    -webkit-transform-origin: 50% 50% -200px;
    transform-origin: 50% 50% -200px;
    -webkit-animation: spin 1s;
            animation: spin 1s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@keyframes spin
{
    0%
    {
        transform: rotateY(0deg);
    }
    100%
    {
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes spin
{
    0%
    {
        -webkit-transform: rotateY(0deg);
    }
    100%
    {
        -webkit-transform: rotateY(360deg);
    }
}
/*spin-y*/
.spin-y
{
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-animation: spin-y 1s;
            animation: spin-y 1s;
}
@keyframes spin-y
{
    0%
    {
        transform: rotateY(0deg);
    }
    100%
    {
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes spin-y
{
    0%
    {
        -webkit-transform: rotateY(0deg);
    }
    100%
    {
        -webkit-transform: rotateY(360deg);
    }
}
/*whirl*/
.whirl
{
    -webkit-animation: whirl 2s;
            animation: whirl 2s;
}
@keyframes whirl
{
    0%
    {
        transform: translateY(1000px) rotateY(0deg);
    }
    80%
    {
        transform: translateY(-100%) rotateY(720deg);
    }
    100%
    {
        transform: translateY(0px);
    }
}
@-webkit-keyframes whirl
{
    0%
    {
        -webkit-transform: translateY(1000px) rotateY(0deg);
    }
    80%
    {
        -webkit-transform: translateY(-100%) rotateY(720deg);
    }
    100%
    {
        -webkit-transform: translateY(0px);
    }
}
/*wabble*/
.wabble
{
    -webkit-transform-origin: 50% 0 0;
    transform-origin: 50% 0 0;
    -webkit-animation: wabble 1.2s;
            animation: wabble 1.2s;
}
@keyframes wabble
{
    0%, 100%
    {
        transform: rotateZ(0deg);
    }
    12.5%
    {
        transform: rotateZ(-20deg);
    }
    25%
    {
        transform: rotateZ(18deg);
    }
    37.5%
    {
        transform: rotateZ(-15deg);
    }
    50%
    {
        transform: rotateZ(13deg);
    }
    62.5%
    {
        transform: rotateZ(-10deg);
    }
    75%
    {
        transform: rotateZ(7deg);
    }
    87.5%
    {
        transform: rotateZ(-3deg);
    }
}
@-webkit-keyframes wabble
{
    0%, 100%
    {
        -webkit-transform: rotateZ(0deg);
    }
    12.5%
    {
        -webkit-transform: rotateZ(-20deg);
    }
    25%
    {
        -webkit-transform: rotateZ(18deg);
    }
    37.5%
    {
        -webkit-transform: rotateZ(-15deg);
    }
    50%
    {
        -webkit-transform: rotateZ(13deg);
    }
    62.5%
    {
        -webkit-transform: rotateZ(-10deg);
    }
    75%
    {
        -webkit-transform: rotateZ(7deg);
    }
    87.5%
    {
        -webkit-transform: rotateZ(-3deg);
    }
}